*.idea
*.iml

jiview-boot/target
jiview-boot/*/target

jiview/core/src/main/java/com/smaller/jiview/core/pojo/model/*.java
jiview/core/src/main/java/com/smaller/jiview/core/dao/mapper

jiview/core/docs
jiview/.history
