<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smaller.jiview.moduler.system.platform.system.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.smaller.jiview.moduler.system.platform.system.model.SysUser">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="locked" jdbcType="BIT" property="locked" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="user_type" jdbcType="TINYINT" property="userType" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
  </resultMap>

  <sql id="list_where">
    where 1 = 1
    <if test="deptId != null and deptId != ''">
      AND su.dept_id = #{deptId}
    </if>
    <if test="userName != null and userName != ''">
      AND su.user_name LIKE CONCAT('%',#{userName},'%')
    </if>
    <if test="account != null and account != ''">
      AND su.account LIKE CONCAT('%',#{account},'%')
    </if>
  </sql>

  <sql id="list_from">
      FROM sys_user su
	  join sys_dept sd
	  ON su.dept_id = sd.dept_id
	  left join sys_code sc
      on sc.code_key = su.locked
      and sc.code_type = '${@com.smaller.jiview.core.constant.CodeConstants@SYS_USER_LOCKED}'
  </sql>

  <select id="list" resultType="com.smaller.jiview.moduler.system.pojo.model.ext.SysUserExt">
    SELECT
    su.id,
    su.user_name,
    su.account,
    su.mobile,
    su.email,
    su.sex,
    su.dept_id,
    su.locked,
    su.remark,
    su.user_type,
    su.enabled,
    su.create_time,
    sd.dept_name as deptName,
    sc.code_value as statusName
    <include refid="list_from"/>
    <include refid="list_where" />
    ORDER BY id
  </select>
</mapper>