<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smaller.jiview.platform.system.mapper.RoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.smaller.jiview.platform.system.model.RoleMenu">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="authorize_id" jdbcType="BIGINT" property="authorizeId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="authorize_level" jdbcType="TINYINT" property="authorizeLevel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    authorize_id, role_id, menu_id, authorize_level, create_time, create_user_id
  </sql>
</mapper>