<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smaller.jiview.admin.platform.system.mapper.SysDeptMapper">
  <resultMap id="BaseResultMap" type="com.smaller.jiview.admin.platform.system.model.SysDept">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="leaf" jdbcType="BIT" property="leaf" />
    <result column="sortno" jdbcType="INTEGER" property="sortno" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
  </resultMap>

  <sql id="list_where">
    where 1 = 1
    <if test="deptName != null and deptName != ''">
      AND a.dept_name LIKE CONCAT('%',#{deptName},'%')
    </if>
    <foreach collection="subDeptIds" item="deptId" index="index"
           open="AND a.dept_id IN (" close=")" separator=",">
      #{deptId}
    </foreach>
  </sql>
  <select id="listSysDept" resultType="com.smaller.jiview.admin.pojo.model.ext.SysDeptExt">
      SELECT
      a.dept_id,
      a.parent_id,
      a.dept_name,
      a.leaf,
      a.sortno,
      a.remark,
      a.create_time,
      a.create_user_id,
      b.dept_name as parentDeptName
      FROM
      sys_dept a
      LEFT JOIN sys_dept b
      on a.parent_id = b.dept_id
      <include refid="list_where" />
      ORDER BY a.parent_id,a.sortno
  </select>

  <select id="listDept" resultType="com.smaller.jiview.admin.platform.system.model.SysDept">
        SELECT
        dept_id,
        parent_id,
        dept_name
        FROM sys_dept
        ORDER BY parent_id
    </select>
</mapper>