<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smaller.jiview.admin.platform.system.mapper.SysDeptMapper">
  <resultMap id="BaseResultMap" type="com.smaller.jiview.admin.platform.system.model.SysDept">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="leaf" jdbcType="BIT" property="leaf" />
    <result column="sortno" jdbcType="INTEGER" property="sortno" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
  </resultMap>

  <sql id="list_where">
    where 1 = 1
    <if test="deptId != null and deptId != ''">
      AND parent_id = #{deptId}
    </if>
    <if test="deptName != null and deptName != ''">
      AND dept_name LIKE CONCAT('%',#{deptName},'%')
    </if>
  </sql>
  <select id="listSysUser" resultType="com.smaller.jiview.admin.platform.system.model.SysDept">
      SELECT
      dept_id,
      parent_id,
      dept_name,
      leaf,
      sortno,
      remark,
      create_time,
      create_user_id
      FROM sys_dept
      <include refid="list_where" />
      ORDER BY dept_id,sortno
  </select>

  <select id="listDept" resultType="com.smaller.jiview.admin.platform.system.model.SysDept">
        SELECT
        dept_id,
        parent_id,
        dept_name
        FROM sys_dept
    </select>
</mapper>