<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smaller.jiview.admin.platform.system.mapper.SysRoleMenuPartMapper">
  <resultMap id="BaseResultMap" type="com.smaller.jiview.admin.platform.system.model.SysRoleMenuPart">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="authorize_id" jdbcType="BIGINT" property="authorizeId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="part_id" jdbcType="VARCHAR" property="partId" />
    <result column="part_auth_type" jdbcType="TINYINT" property="partAuthType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
  </resultMap>

  <delete id="remove">
    delete from
    sys_role_menu_part
    WHERE role_id = #{roleId}
    <foreach collection="menuIds" item="menuId" index="index" open="and menu_id in ( " close=")" separator=",">
      #{menuId}
    </foreach>
  </delete>
  <select id="selectRoleMenuPart">
    SELECT
      srmp.role_id,
      srmp.menu_id,
      srmp.part_id,
      srmp.part_auth_type,
      smp.cmp_id,
      srm.authorize_level
    FROM
        sys_role_menu_part srmp
    LEFT JOIN sys_menu_part smp
    ON srmp.part_id = smp.part_id
    LEFT JOIN sys_role_menu srm
    ON srmp.role_id = srm.role_id
    AND srmp.menu_id = srm.menu_id
    WHERE
        1 = 1
    AND srmp.role_id IN ('1', '2', '3')
    AND srmp.menu_id IN ('19','20','21')
    AND srm.authorize_level = 2;
  </select>
</mapper>