<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smaller.jiview.admin.platform.system.mapper.SysUserMenuPartMapper">
    <resultMap id="BaseResultMap" type="com.smaller.jiview.admin.platform.system.model.SysUserMenuPart">
        <!--
          WARNING - @mbggenerated
        -->
        <result column="authorize_id" jdbcType="BIGINT" property="authorizeId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="menu_id" jdbcType="BIGINT" property="menuId"/>
        <result column="part_id" jdbcType="VARCHAR" property="partId"/>
        <result column="part_auth_type" jdbcType="TINYINT" property="partAuthType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
    </resultMap>

    <select id="listUserMenuPart" resultType="com.smaller.jiview.admin.pojo.model.ext.SysUserMenuPartExt">
        SELECT
            sump.menu_id,
            sump.part_id,
            sump.part_auth_type,
            smp.cmp_id as cmpId
        FROM
        sys_user_menu_part sump
        RIGHT JOIN sys_menu_part smp
        ON sump.part_id = smp.part_id
        RIGHT JOIN sys_user_menu_map summ
        ON sump.menu_id = summ.menu_id
        AND sump.user_id = summ.user_id
        AND summ.authorize_level = '${@com.smaller.jiview.core.constant.Constants@AUTHORIZE_LEVEL_2}'
        WHERE
        1 = 1
        AND sump.menu_id = #{menuId}
        AND sump.user_id = #{userId}
  </select>

</mapper>